.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}


.formWrapper {
  background-size: cover !important;
  background-position: center  !important;
  justify-content: center;
  display: flex;
  align-items: center;
}

.formFlex {
  display: flex;
  flex-direction: column;
}


.formWrapper__col1 {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.formWrapper__col2 {
  display:  flex;
  flex-basis: 50%;
}